

.q-card {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 0 0 0.25rem rgb(8 18 34 / 10%) !important;
  box-shadow: 0 0 0.25rem rgb(8 18 34 / 10%) !important;
  background-color: var(--bg-card) !important;

}
.q-card .card-title {
  font-size: 18px;
  margin: 0 0 7px 0;
  font-weight: 600;
  color: var(--color-card-title);
}

.q-card .card-subtitle {
  font-size: 14px;
  color: var(--color-card-subtitle);
  margin-bottom: 24px;
}

.q-btn {
  border-radius: 8px !important;
}

.bg__drawer {
  background-color: var(--bg-drawer);
}

.bg__drawer .q-item {
  color: var(--color-drawer);
}

.bg__app {
  background-color: var(--bg-app);
}


.q-table-header {
  color: #B7BBC7 !important;
}

.q-card-table {
  background-color: var(--bg-card) !important;

  color: #8e949f!important;
}


.q-menu {
  background-color: var(--bg-card) !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 0 0 0.25rem rgba(6, 16, 31, 0.1) !important;
  box-shadow:0 0 0.25rem rgba(6, 16, 31, 0.1) !important;
}