$primary: #5e61e6;
$secondary: #788392;
$accent: #66c731;
$dark: #202f3f;
$positive: #66c731;
$negative: #e6381b;
$info: #05afd4;
$warning: #e69900;


$color-app: #6D7378;
$color-app-dark: #fff;
$bg-app :#F4F7FD;
$bg-app-dark: #12263f;
$bg-drawer:#182A4D;
$bg-card:#152d4d;









